<h1>My Books</h1>
<% @books.each do |book| %>
  <div>
    <h2><%= link_to book.name, book_path(book) %></h2>
    <p><%= book.author %></p>
    <%= link_to "Edit", edit_book_path(book) %> |
    <%= link_to "Delete", book_path(book), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>
